<!--
<div class="jumbotron">
    <h1>MusCat</h1>
    <p class="lead">MusCat is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Radio!</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="~/Views/RadioView.html">Radio!</a></p>
    </div>

</div>
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Radio</title>
    <link rel="stylesheet" href="~/Content/audio.css">
</head>
<body>
    <header>
        <div id="logo">MusCat</div>
    </header>
    <div id="main">
        <div id="current">
            <div class="cont">
                <img id='playback' src='~/Content/pause.png' onclick=" playOrResume(); "/>
                <h3></h3>
                <h5></h5>
                <time></time>
            </div>
            <audio id="player" src="/api/radio/stream" autoplay></audio>
            <!--<input id="volume" type="range" min="0.0" max="1.0" step="0.05"/>-->
        </div>
        <div id="upcoming">

        </div>
    </div>
    <script type="text/javascript">
        window.onload = switchSong;

        function switchSong() {

            $.getJSON("/api/radio/current", function (data) {
                $("h3").text(data.Name);
                $("h5").text(data.Performer);
                $("time").text(data.Year);
                $("#current")[0].style.backgroundImage =
                    "url('/api/radio/albumcover/" + data.Id + "')";
            });

            $.getJSON("/api/radio/upcoming", function (data) {

                $("#upcoming").empty();

                var items = [];
                var sign = 1;
                var i = 0;
                $.each(data, function (key, val) {
                    items.push("<p>" +
                                "<span>" + val.Performer + "</span>" +
                                "<span>" + val.Name + "</span>" +
                                "<span>[" + val.Duration + "]</span>" +
                                "</p>");

                    var img = document.createElement('img');

                    img.setAttribute('src', "/api/radio/albumcover/" + val.Id);
                    img.setAttribute('width', '80px');
                    img.setAttribute('height', '80px');
                    img.style.position = 'absolute';
                    img.style.left = +((i % 4) * 60) + 'px';
                    img.style.top = +(Math.floor(i / 4) * 60) + 'px';
                    img.style.transform = "rotate(" + +(Math.random() * 20) * sign + "deg)";
                    sign = -sign;
                    document.getElementById('upcoming').appendChild(img);
                    i++;
                });

                $("<ul/>", {
                    "class": "my-new-list",
                    html: items.join("")
                })
                .appendTo("#upcoming");
            });

            document.isPlaying = true;
        }

        function playOrResume() {
            if (document.isPlaying) {
                document.getElementById('player').pause();
                document.getElementById('playback').src = '../../Content/play.png';
                document.isPlaying = false;
            }
            else {
                document.getElementById('player').play();
                document.getElementById('playback').src = '../../Content/pause.png';
                document.isPlaying = true;
            }

            $.getJSON("/api/radio/next", function() {
                $("#player").attr("src", "/api/radio/stream");
                switchSong();
            });
            
            // document.getElementById('player').volume += 0.1;
        }
    </script>
</body>
</html>
