<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Radio</title>
    <link rel="stylesheet" href="~/Content/audio.css">
</head>
<body>
    <header>
        <div id="logo">MusCat</div>
    </header>
    <div id="main">
        <div id="current">
            <div class="cont">
                <img id='playback' src='~/Content/pause.png' onclick="pauseOrResume(); "/>
                <h3></h3>
                <h5></h5>
                <time></time>
            </div>
            <audio id="player" src="/api/radio/stream" autoplay></audio>
            <!--<input id="volume" type="range" min="0.0" max="1.0" step="0.05"/>-->
        </div>
        <div id="upcoming">

        </div>
    </div>
    <script type="text/javascript">
        window.onload = switchSong;

        var player = document.getElementById('player');
        player.addEventListener("ended", function() { 
                $.getJSON("/api/radio/next", function() {
                    $("#player").attr("src", "/api/radio/stream");
                    switchSong();
                });
            }, true);

        //$("#player").bind("seeked", function() { 
        //    alert("ok!");
        //    $("#player").play(); 
        //}, true);

        player.addEventListener('canplay', function() { player.play(); });

        function switchSong() {

            $.getJSON("/api/radio/current", function (data) {
                $("h3").text(data.Name);
                $("h5").text(data.Performer);
                $("time").text(data.Year);
                $("#current")[0].style.backgroundImage =
                    "url('/api/radio/albumcover/" + data.Id + "')";
            });

            $.getJSON("/api/radio/upcoming", function (data) {

                $("#upcoming").empty();

                var items = [];
                var sign = 1;
                var i = 0;
                $.each(data, function (key, val) {
                    items.push("<p>" +
                                "<span>" + val.Performer + "</span>" +
                                "<span>" + val.Name + "</span>" +
                                "<span>[" + val.Duration + "]</span>" +
                                "</p>");

                    var img = document.createElement('img');

                    img.setAttribute('src', "/api/radio/albumcover/" + val.Id);
                    img.setAttribute('width', '80px');
                    img.setAttribute('height', '80px');
                    img.style.position = 'absolute';
                    img.style.left = +((i % 4) * 60) + 'px';
                    img.style.top = +(Math.floor(i / 4) * 60) + 'px';
                    img.style.transform = "rotate(" + +(Math.random() * 20) * sign + "deg)";
                    sign = -sign;
                    document.getElementById('upcoming').appendChild(img);
                    i++;
                });

                $("<ul/>", {
                    "class": "my-new-list",
                    html: items.join("")
                })
                .appendTo("#upcoming");
            });

            document.isPlaying = false;
            pauseOrResume();
        }

        function pauseOrResume() {
            if (document.isPlaying) {
                document.getElementById('player').pause();
                document.getElementById('playback').src = '../../Content/play.png';
                document.isPlaying = false;
            }
            else {
                document.getElementById('player').play();
                //player.currentTime = player.duration - 10;
                document.getElementById('playback').src = '../../Content/pause.png';
                document.isPlaying = true;
            }
            
            // document.getElementById('player').volume += 0.1;
        }
    </script>
</body>
</html>
