@{
    ViewBag.Title = "RadioView";
}

<h2>RadioView</h2>

<div>
    <audio id="player" src="/api/radio/stream" autoplay></audio>
</div>

<button onclick="updateSong();">Next</button>


<script type="text/javascript">
    function updateSong() {
        $.getJSON("/api/radio/next");
        $("#player").attr("src", "/api/radio/stream");
    }
</script>