<div id="main">
  <div id="performers">
    <div id="upper">
      <div id="controls">
        <mat-form-field>
          <input matInput [(ngModel)]="searchPattern">
        </mat-form-field>
        <button mat-button (click)="updatePerformers()">
          <mat-icon [inline]="true">search</mat-icon>
          SEARCH
        </button>
        <button mat-button (click)="addPerformer()">
          <mat-icon [inline]="true">add</mat-icon>
          ADD
        </button>
      </div>
      <mat-paginator [length]="pageCount"
        [pageSize]="pageSize"
        [pageSizeOptions]="[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 20]"
        [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
    <app-performer *ngFor="let item of performers" [performer]="item"
      (updateAlbumsEvent)="updateAlbums($event)"
      (updatePerformersEvent)="updatePerformers()">
    </app-performer>
  </div>
  <div id="albums">
    <app-albums-panel [performer]="performer" [albums]="albums" [album]="selectedAlbum">
    </app-albums-panel>
  </div>
</div>
